body {
    font-size: 16px !important;
    background-color: black !important;
}
.container-fluid {
    margin-left: 90px !important;
    margin-right: 90px !important;
    background-color: floralwhite !important;
    border: solid !important;
    border-radius: 10px !important;
}
.exampleLine{
    stroke: #000000;
    stroke-width:3;
    stroke-miterlimit:10;
}
.row {
    display: flex;
    justify-content: center;
}
.col-md-4 {
    display: flex;
    justify-content: center;
}